@model ACC_DEV.ViewModel.TxnPaymentViewMode
@{
    ViewData["Title"] = "Payment";

}
<style>
    .hidden-column {
        display: none;
    }
</style>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Payment - Create</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                Payment
                            </h3>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-9">
                            <div id="paymentvocherDetails" style="border: 1px solid black; padding: 10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        @using (Html.BeginForm("Create", "TxnPaymentHDs", new { searchString = "" }, FormMethod.Get))
                                        {
@*                                            <div class="input-group">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="searchType" id="searchByCreditNote" value="Export" checked>
                                                    <label class="form-check-label" for="searchByCreditNote">Export</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="searchType" id="searchByJob" value="Import">
                                                    <label class="form-check-label" for="searchByJob">Import</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="searchType" id="searchByApprove" value="Additional" checked>
                                                    <label class="form-check-label" for="searchByApprove">Additional PayVoucher</label>
                                                </div>
                                            </div>*@
                                            <br>
                                            <div class="input-group">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="customerType"  name="customerType" value="Agent" checked />
                                                    <label class="form-check-label" for="customerType">Agent</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="customerType" name="customerType" value="ShippingLine" />
                                                    <label class="form-check-label" for="customerType">ShippingLine</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="customerType" name="customerType" value="Supplier" />
                                                    <label class="form-check-label" for="customerType">Supplier</label>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div id="ShippingLineDropdown" class="row" style="display: none;">
                                                        <div class="col-md-4">
                                                            <label for="Customer">Shipping line</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <select id="ShippingLine" name="ShippingLine" asp-for="TxnPaymentHdMulti.FirstOrDefault().ShippingLineID" class="form-control" asp-items="ViewBag.ShippingLine"></select>
                                                        </div>
                                                    </div>
                                                    <div id="AgentDropdown" class="row">
                                                        <div class="col-md-4">
                                                            <label for="Customer">Agent</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <select id="POAgent" name="POAgent" asp-for="TxnPaymentHdMulti.FirstOrDefault().AgentID" class="form-control" asp-items="ViewBag.AgentIDNomination"></select>
                                                        </div>
                                                    </div>
                                                    <div id="SupplierDropdown" class="row">
                                                        <div class="col-md-4">
                                                            <label for="Customer">Supplier</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <select id="Supplier" name="Supplier" asp-for="TxnPaymentHdMulti.FirstOrDefault().CustomerID" class="form-control" asp-items="ViewBag.Suppliers"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-info" onclick="checkCustomerAndToggleSaveButton()"><i class="fas fa-search-plus"></i> Refresh</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <form asp-action="Create" asp-controller="TxnPaymentHDs" id="PaymentHDForm">
                        <!-- Hidden field to store selected items -->
                        <input type="hidden" id="dtlItemsList" name="dtlItemsList" />
                        <div class="row">

                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Exchange Rate">Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="date" asp-for="TxnPaymentHdMulti.FirstOrDefault().Date" class="form-control" value="Date" />
                                        <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().Date" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="Narration">Narration</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" asp-for="TxnPaymentHdMulti.FirstOrDefault().Narration" class="form-control" />
                                        <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().Narration" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="Customer"> Debit A/C No</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="DebitAcc" asp-for="TxnPaymentHdMulti.FirstOrDefault().DebitAcc" value="" name="DebitAcc" class="form-control" asp-items="ViewBag.AccountsCodes"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="radio" id="Cheque" name="PaymentMethod" value="Cheque" checked />
                                        <label for="Cheque">Cheque</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" id="Cash" name="PaymentMethod" value="Cash" />
                                        <label for="Cash">Cash</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-7">
                                <div id="paymentDetails" style="border:1px solid black; padding: 10px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="ExchangeRate" id="paymentLabel">Cheque No</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" id="ChequeNo" asp-for="TxnPaymentHdMulti.FirstOrDefault().ChequeNo" class="form-control" />
                                                    <span id="ChequeNoError" class="text-danger" style="display:none;"></span>
                                                    <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().ChequeNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="Date "> Chq Date </label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="date" asp-for="TxnPaymentHdMulti.FirstOrDefault().ChequeDate" class="form-control" value="Date" />
                                            <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().ChequeDate" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="ExchangeRate" id="paymentLabel">ACC PAYEE ONLY</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" asp-for="TxnPaymentHdMulti.FirstOrDefault().IsAcPayeeOnly" name="IsAcPayeeOnly"  class="form-control"  checked />
                                                        <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().IsAcPayeeOnly" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Debit Acc No: -->
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="Bank">Credit A/C No</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="CreditAcc" asp-for="TxnPaymentHdMulti.FirstOrDefault().CreditAcc" value="" name="CreditAcc" class="form-control" asp-items="ViewBag.AccountsCodes"></select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-8">
                                <h4 style="font-weight:normal; color: darkblue;">Unpaid PaymentVouchers/Credit for Import/ Export/ Other </h4>
                                <h4 style="font-weight:bolder; color: darkblue;">Name: @ViewBag.Customer </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="ExchangeRate" id="DocNo">Doc No</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="docNoInput" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info" id="searchBtn"><i class="fas fa-search-plus"></i> Search</button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive" style="height: 300px; overflow-y: auto;">
                                    <table class="table color-bordered-table purple-bordered-table" id="tblContainer1" style="margin-bottom: 0;">
                                        <!-- Table 1: Display invoices -->
                                        <thead style="position: sticky; top: 0; background-color: #fff;">
                                            <tr>
                                                <th></th>
                                                <th>Doc No</th>
                                                <th>Doc Type</th>
                                                <th>Date</th>
                                                <th>Total Amt</th>
                                                <th>Paid Amt</th>
                                                <th>Balance Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContainerDetailsBody1">
                                            @foreach (var PaymentItem in Model.PayVoucherMulti)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="selectedInvoices" value="@PaymentItem.PayVoucherNo" /></td>
                                                    <td>@PaymentItem.PayVoucherNo</td>
                                                    <td>@PaymentItem.DocType</td>
                                                    <td>@PaymentItem.Date?.ToString("yyyy-MM-dd")</td>
                                                    <td>@PaymentItem.TotalPayVoucherAmountLkr?.ToString("0.00")</td>
                                                    <td>@PaymentItem.AmountPaid</td>
                                                    <td>@PaymentItem.AmountToBePaid</td>
                                                    <td class="hidden-column">@PaymentItem.JobNo</td>
                                                    <td class="hidden-column">@PaymentItem.JobType</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-1" style="align-items:center">
                                        <!-- Button to trigger moving selected rows to the second table -->
                                        <input type="button" value="Select >>" id="selectButton" class="btn btn-info" onclick="moveSelectedRows()" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="table color-bordered-table purple-bordered-table">
                                    <table class="table table-hover border table-striped" id="tblContainer2">
                                        <!-- Table 2: Display selected invoices -->
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Doc No</th>
                                                <th>Doc Type</th>
                                                <th nowrap="">Date</th>
                                                <th nowrap="">Total Amount</th>
                                                <th>Paid</th>
                                                <th>BlanceAmt</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContainerDetailsBody2">
                                            <!-- Selected rows will be moved here -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-1" style="align-items:center">
                                        <!-- Button to trigger moving 1st table rows to the second table -->
                                        <input type="button" value="<< Remove" id="RemoveButton" class="btn btn-warning" onclick="moveRemoveRows()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Display and input for total receipt amount -->
                                        <label for="Customer">Other Amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" asp-for="TxnPaymentHdMulti.FirstOrDefault().OtherAmountDescr" class="form-control" value="" placeholder="Other Amount Details" />
                                        <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().OtherAmountDescr" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="otherAmountInput" type="text" asp-for="TxnPaymentHdMulti.FirstOrDefault().OtherAmount" class="form-control" value="" />
                                        <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().OtherAmount" id="otherAmountValidation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Display and input for total receipt amount -->
                                        <label for="Customer" style="font-weight:bolder;">Total Amount</label>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-3">
                                        <input style="font-weight:bolder;" type="text" id="totalReceiptAmount" class="form-control" value="" disabled />
                                        <input type="hidden" id="receiptTotalAmt" asp-for="TxnPaymentHdMulti.FirstOrDefault().PaymentTotalAmt" />
                                        <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().PaymentTotalAmt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!--Remarks Textbox-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <h6 class="box-title">Remarks</h6>
                                    <div class="col-md-12">
                                        <textarea asp-for="TxnPaymentHdMulti.FirstOrDefault().Remarks" class="form-control" name="Remarks" type="text" placeholder="Type here your Remarks" rows="5"> </textarea>
                                        @* <input asp-for="BLTypeID" class="form-control" />*@
                                        <span asp-validation-for="TxnPaymentHdMulti.FirstOrDefault().Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!--Save Button-->
                        <div class="row">
                            <input type="hidden" id="dtlItemsList" name="dtlItemsList" />
                            <input type="hidden" id="customerType" name="CustomerType" value="@ViewBag.CustomerType" />
                            <input type="hidden" id="paymentVouchType" name="paymentVouchType" value="@ViewBag.PaymentVoucherType" />
                            <input type="hidden" asp-for="TxnPaymentHdMulti.FirstOrDefault().ShippingLineID" value="@ViewBag.ShippingLineID"></input>
                            <input type="hidden" asp-for="TxnPaymentHdMulti.FirstOrDefault().CustomerID" value="@ViewBag.SupplierID"></input>
                            <input type="hidden" asp-for="TxnPaymentHdMulti.FirstOrDefault().AgentID" value="@ViewBag.AgentID"></input>
                            <!--Save Button-->
                            <div class="form-group">
                                <input type="submit" id="saveButton" value="Save" onclick="submitForm(this)" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Enter key blocking from submitig
    document.getElementById("PaymentHDForm").onkeypress = function (e) {

        preventEnterSubmit(e);
    }

</script>
<script>
    function preventEnterSubmit(e) {
        // Enter Key
        if (e.which == 13) {
            var $targ = $(e.target);
            // alert(" Enter Key !" );
            if (!$targ.is("textarea") && !$targ.is(":button,:submit")) {
                //alert(" Not Textarea !");
                e.preventDefault();
            }

        }
    }
</script>
<script>
    // Function to update the caption based on the selected radio button
    function updateCaption() {
        if ($("input[name='PaymentMethod']:checked").val() === "Cheque") {
            // Change the label text to "Cheque No" when Cheque is selected
            $("#paymentLabel").text("Cheque No");
        } else if ($("input[name='PaymentMethod']:checked").val() === "BankTransfer") {
            // Change the label text to "Reference No" when Bank Transfer is selected
            $("#paymentLabel").text("Reference No");
        }
    }

    // Wait for the document to be ready
    $(document).ready(function () {
        // Initially, show the payment details div
        $("#paymentDetails").show();

        // Update the caption when the page loads
        updateCaption();

        // Listen for changes in the radio buttons
        $("input[name='PaymentMethod']").change(function () {
            if ($("input[name='PaymentMethod']:checked").val() === "Cash") {
                $("#paymentDetails").hide();
            } else {
                $("#paymentDetails").show();
                // Update the caption when a radio button is selected
                updateCaption();
            }
        });
    });
</script>
@*Function to move selected rows to the second table and Total amount calculations*@
<script>
    // Updated JavaScript

    // Function to move selected rows to the second table
    function moveSelectedRows() {
        var table1 = document.getElementById("tblContainer1");
        var table2 = document.getElementById("tblContainer2");
        var checkboxes = table1.querySelectorAll('input[type="checkbox"]:checked');

        checkboxes.forEach(function (checkbox) {
            var row = document.createElement("tr");
            var invoiceNo = checkbox.parentNode.parentNode.querySelector("td:nth-child(2)").textContent;
            var docType = checkbox.parentNode.parentNode.querySelector("td:nth-child(3)").textContent;
            var date = checkbox.parentNode.parentNode.querySelector("td:nth-child(4)").textContent;
            var amountPaid = checkbox.parentNode.parentNode.querySelector("td:nth-child(6)").textContent;
            var balanceAmt = checkbox.parentNode.parentNode.querySelector("td:nth-child(7)").textContent;
            var totalAmt = checkbox.parentNode.parentNode.querySelector("td:nth-child(5)").textContent;
            var jobNo = checkbox.parentNode.parentNode.querySelector("td:nth-child(8)").textContent;
            var jobType = checkbox.parentNode.parentNode.querySelector("td:nth-child(9)").textContent;

            // Add cells to the row with desired values
            row.innerHTML = '<td><input type="checkbox" name="selectedInvoices" value="' + invoiceNo + '" /></td>' +
                '<td>' + invoiceNo + '</td>' +
                '<td>' + docType + '</td>' +
                '<td  nowrap="">' + date + '</td>' +
                '<td>' + totalAmt + '</td>' +
                '<td>' + amountPaid + '</td>' +
                '<td>' + balanceAmt + '</td>' +
                '<td><input type="text" name="invoiceAmounts[]" value="' + balanceAmt + '" class="form-control" /></td>'+
                '<td class="hidden-column">' + jobNo + '</td>' +
                '<td class="hidden-column">' + jobType + '</td>';
            // Append the row to the second table body
            table2.querySelector("tbody").appendChild(row);

            // Remove the selected row from table1
            checkbox.parentNode.parentNode.remove();

            // Recalculate total receipt amount after moving selected rows
            updateTotalReceiptAmount();
        });
    }

    // Function to move selected rows back to the first table
    function moveRemoveRows() {
        var table1 = document.getElementById("tblContainer1");
        var table2 = document.getElementById("tblContainer2");
        var checkboxes = table2.querySelectorAll('input[type="checkbox"]:checked');

        checkboxes.forEach(function (checkbox) {
            var row = document.createElement("tr");
            var invoiceNo = checkbox.parentNode.parentNode.querySelector("td:nth-child(2)").textContent;
            var docType = checkbox.parentNode.parentNode.querySelector("td:nth-child(3)").textContent;
            var date = checkbox.parentNode.parentNode.querySelector("td:nth-child(4)").textContent;
            var totalAmt = checkbox.parentNode.parentNode.querySelector("td:nth-child(5)").textContent;
            var amountPaid = checkbox.parentNode.parentNode.querySelector("td:nth-child(6)").textContent;
            var balanceAmt = checkbox.parentNode.parentNode.querySelector("td:nth-child(7)").textContent;
            var Amount = checkbox.parentNode.parentNode.querySelector("td:nth-child(8) input").value; // Retrieve input value
            var JobNo = checkbox.parentNode.parentNode.querySelector("td:nth-child(9)").textContent;
            var JobType = checkbox.parentNode.parentNode.querySelector("td:nth-child(10)").textContent;

            // Add cells to the row with desired values
            row.innerHTML = '<td><input type="checkbox" name="selectedInvoices" value="' + invoiceNo + '" /></td>' +
                '<td>' + invoiceNo + '</td>' +
                '<td>' + docType + '</td>' +
                '<td>' + date + '</td>' +
                '<td>' + totalAmt + '</td>' +
                '<td>' + amountPaid + '</td>' +
                '<td>' + balanceAmt + '</td>'+ // Append balanceAmt directly
                '<td class="hidden-column">' + JobNo + '</td>' +
                '<td class="hidden-column">' + JobType + '</td>';

                //'<td class="hidden-column">' + JobNo + '</td>' +
                //'<td class="hidden-column">' + JobType + '</td>';
            // Append the row to the first table body
            table1.querySelector("tbody").appendChild(row);

            // Remove the selected row from table2
            checkbox.parentNode.parentNode.remove();

            // Recalculate total receipt amount after moving selected rows
            updateTotalReceiptAmount();
        });
    }

    // Function to update total receipt amount
    function updateTotalReceiptAmount() {
        var totalReceiptAmount = 0;

        // Calculate total receipt amount based on selected rows from the second table
        $('#tblContainer2 tbody tr').each(function () {
            var invoiceAmount = parseFloat($(this).find('td:nth-child(8) input').val());
            totalReceiptAmount += isNaN(invoiceAmount) ? 0 : invoiceAmount;
        });

        // Add the value of "Other Amount" field to the total receipt amount
        var otherAmount = parseFloat($('#otherAmountInput').val());
        totalReceiptAmount += isNaN(otherAmount) ? 0 : otherAmount;

        // Update the total receipt amount field
        $('#totalReceiptAmount').val(totalReceiptAmount.toFixed(2));
        $('#receiptTotalAmt').val(totalReceiptAmount.toFixed(2));
    }

    // Listen for input events on the "Other Amount" field
    $('#otherAmountInput').on('input', function () {
        updateTotalReceiptAmount();
    });

    // Listen for input events on invoice amount input fields in the second table
    $('#tblContainer2 tbody').on('input', 'input[name="invoiceAmounts[]"]', function () {
        updateTotalReceiptAmount();
    });

    // Call the updateTotalReceiptAmount function initially to set the initial total receipt amount
    updateTotalReceiptAmount();

</script>
@*// Create and submit Payment Voucher Detail Json*@
<script>
    // Create and submit Charge Items
    function submitForm(e) {

        //e.preventDefault(); // Prevent default form submission
        //alert("Test Submit");

        const dtlItems = []; // Array to hold details of selected items

        //// Iterate over rows in tblContainer2
        $('#tblContainer2 tbody tr').each(function (index, row) {
            //alert("Amount 1");
            var serialNo = index + 1; // Serial number starts from 1
            var refNo = $(row).find('td:nth-child(2)').text(); // Get description from second column
            var amountInput = $(row).find('td:nth-child(8) input'); // Get input field in fourth column
            var amount = 0; // Default amount
            var refType = $(row).find('td:nth-child(3)').text();
            var jobno = $(row).find('td:nth-child(9)').text();
            var jobType = $(row).find('td:nth-child(10)').text();
            //alert("Amount 2");

            // Check if the amount input field exists and has a value
            if (amountInput.length > 0 && amountInput.val() !== "") {
                amount = parseFloat(amountInput.val()); // Get amount if it's not null or empty
            }
            //alert("Amount 3: " + amount);
            // Check if the amount is not zero
            if (amount !== 0) {
                // Add item details to dtlItems array
                dtlItems.push({
                    SerialNo: serialNo,
                    RefNo: refNo,
                    RefType: refType,
                    Amount: amount,                    
                    JobNo: jobno,
                    JobType: jobType
                });
            };
            //alert("Amount 4");
        });
        $("#dtlItemsList").val(JSON.stringify(dtlItems));
    }

</script>

<script>
    $(document).ready(function () {
        //alert("Test Tyepe");
        // Initially hide the ShippingLine and Agent dropdowns
        $("#ShippingLineDropdown").hide();
        $("#SupplierDropdown").hide();
        $("#AgentDropdown").show(); // Assuming Agent dropdown is initially visible

        // Listen for changes in the radio buttons
        $("input[name='customerType']").change(function () {
            if ($("#customerType:checked").val() === "ShippingLine") {
                // If "ShippingLine" is selected, show the ShippingLine dropdown and hide the Agent dropdown
                $("#ShippingLineDropdown").show();
                $("#AgentDropdown").hide();
                $("#SupplierDropdown").hide();
            } else if ($("#customerType:checked").val() === "Agent") {
                // If "Agent" is selected, show the Agent dropdown and hide the ShippingLine dropdown
                $("#ShippingLineDropdown").hide();
                $("#AgentDropdown").show();
                $("#SupplierDropdown").hide();
            } else if ($("#customerType:checked").val() === "Supplier") {
                // If "Agent" is selected, show the Agent dropdown and hide the ShippingLine dropdown
                $("#ShippingLineDropdown").hide();
                $("#AgentDropdown").hide();
                $("#SupplierDropdown").show();
            }
        });
    });
</script>

<!-- Search Doc No-->
@section scripts {
    <script>
        $(document).ready(function () {
            $('#searchBtn').click(function () {
                var docNo = $('#docNoInput').val().toLowerCase(); // Get the value from the input field and convert to lowercase for case-insensitive search
                $('#ContainerDetailsBody1 tr').filter(function () {
                    $(this).toggle($(this).find('td').eq(1).text().toLowerCase().indexOf(docNo) > -1)
                });
            });
        });
    </script>

    <!--Check Chque Number -->
    <script>
        $(document).ready(function () {
            $('#ChequeNo').blur(function () {
                var chequeNo = $(this).val();
                if (chequeNo) {
                    $.ajax({
                        url: '@Url.Action("CheckChequeNumber", "TxnPaymentHDs")',
                        type: 'GET',
                        data: { chequeNo: chequeNo },
                        success: function (data) {
                            if (data) {
                                $('#ChequeNoError').text('Cheque number already exists.').show();
                                $('#ChequeNo').focus();
                            } else {
                                $('#ChequeNoError').text('').hide();
                            }
                        },
                        error: function () {
                            $('#ChequeNoError').text('Error checking cheque number.').show();
                        }
                    });
                }
            });
        });
    </script>

    <script type="text/javascript">
          //$(document).ready(function () {
           window.onload = function () {
            var saveButton = document.getElementById("saveButton");

            // Disable the save button on page load
            saveButton.disabled = true;

            // Check if @ViewBag.Customer has a value
            var customer = '@ViewBag.Customer';

            // If the customer is not empty, enable the save button
            if (customer && customer.trim() !== "") {
                saveButton.disabled = false;
            }
        };
    </script>

    <!-- JavaScript to disable the saveButton -->
    <script>
        function checkCustomerAndToggleSaveButton() {
            var customer = '@ViewBag.Customer';

            // If the customer is empty, disable the save button
            if (!customer || customer.trim() === "") {
                document.getElementById("saveButton").disabled = true;
            } else {
                // Enable save button if @ViewBag.Customer has a value
                document.getElementById("saveButton").disabled = false;
            }
        }
    </script>

}

